* {
	margin:0px;
	padding:0px;
}
header, main, footer, body, section, nav, aside {display:block;}
/* classes for both layouts */
.clear {clear:both;}
/* the wrapper for lay1,2 only*/
#wrapper {
		width:1000px;
		margin:0px auto;
		}
.black_box {
	background-color:#000000;
	opacity:0.6;
}
.logo {
	background: url(../images/logo.png) no-repeat center center;
	height:68px;
	width:68px;
	display:block;
}
.nav_link_style {
	text-decoration:none;
	width:243px;
	height:58px;
	line-height:58px;
	color:#ffffff;
	display:block;
}
.nav_link_style2 {background-color:#333333;}
.nav_link_style1 {background-color:#b94a48;}
.cover_color {background-color:#ee5f5b;}
/* classes for layout1 */
.logo_style_lay1 {
	margin-left:104px;
	margin-top:10px;
	margin-bottom:48px;
}
#main_nav_lay1 ul {
	text-align:center;
	float:right;
	list-style-type: none;
}
#main_nav_lay1 li {float:left;}
aside {
	float:left;
	background-color:#f2dede;
	height:696px;
	width:121px;
	}
.cover_style_lay1 {
	float:right;
	width:849px;
	height:268px;
}
.cover_style_lay1 div {
	position:relative;
	width:126px;
	height:94px;
	left:342px;
	top:89px
}
.box2_lay1 {
	float:left;
	position:relative;
	height:175px;
	width:692px;
	top:224px;
	left:97px;
}
.footer_lay1{
	height:121px;
	background-color:#d6d6d6;
}
/* classes for layout 2*/
.lay2_box_width {width:212px;}
.logo_style_lay2 {height:193px;}
.logo_style_lay2 a {
	position:relative;
	left:465px;
	top:38px;
}
#main_nav_lay2 {
	float:left;
	position:relative;
	height:758px;	
	background-color:#333333;
}
#main_nav_lay2 ul {list-style-type: none;}
#main_nav_lay2 p { padding-left:6px;}
.cover_style_lay2 {
	position:relative;
	overflow: hidden;
	width:757px;
	height:757px;
}
.cover_style_lay2 div {margin-left:30px;}
.box1_lay2 {
	float:left;
	height:366px;
}
.box2_lay2 {
	float:left;
	height:560px;
}
.box3_lay2 {
	float:left;
	height:223px;
}
.box4_lay2 {
	position:absolute;
	height:500px;
	top:385px;
}
.box5_lay2 {
	position:absolute;
	left:242px;
	top:580px;
	height:306px;
}
.footer_lay2 {
	position:fixed;
	height:50px;
	width:1000px;
   	bottom:0px;
	background-color:#d6d6d6;
}
/* layout 3 */
.left_side_lay3 {
	float:left;
	position:relative;
	height:500px;
	width:500px;
}
.left_side_lay3 > a {
	position: absolute;
	left:20px;
	top:22px;
}
.left_side_lay3  p {
	position: absolute;
	top:207px;
	left:207px;
	font-size:150px;
	height:86px;
	line-height:86px;
	width:86px;
	font-weight:bold;
}
.left_side_lay3 nav {
	position:absolute;
	top:438px;
}
.left_side_lay3 ul {
	text-align:center;
	list-style-type:none;
}
.left_side_lay3 li {float:left;}
.left_side_lay3 li a{
	text-decoration:none;
	height:62px;
	line-height:62px;
	color:#ffffff;
	display:block;
}
.small_lay3_width {width:166.5px;}
.large_lay3_width {width:167px;}
.right_side_lay3, .main_lay3 {
	display:flex;
	flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    background-color:#9d261d;
}
.right_side_lay3 {
	height:500px;
	width:500px;
}
.right_side_lay3 div , .main_lay3 div  {
	height:250px;
	width:250px;
	background-color:#000000;
}
	@media only screen and (max-width:998px)
	{
		.main_lay3 {height:1000px;}
		.header_lay3{width:500px;}
		#wrapperl3 {
			width:500px;
			margin:0px auto;
		}
	}
	@media only screen and (min-width:999px)
	{
		.main_lay3 {height:500px;}
		#wrapperl3 {
			width:1000px;
			margin:0px auto;
		}
	}
.main_lay3 section {background-color:#9d261d;}
